<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{template "user-header"}}
    <h1>Blogs</h1>
    {{range .}}
    <h1><a href="/blogs/{{.Id}}">{{.Title}}</a></h1>
    <h3>By {{.Author.Username}}</h3>
    <p>Published: {{.Published}}</p>
    {{end}}
  </body>
</html>
