<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>blog-editor</title>
  </head>
  <body>
    {{template "user-header"}}
    <div id="app"></div>
    <script src="/dist/build.js"></script>
  </body>
</html>
