<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.5/js/froala_editor.pkgd.min.js"></script>

</head>
  <body>
{{template "user-header"}}
<a class="edit-link" ></a>
<div class="fr-view">
</div>
<script>
const viewer = document.querySelector('.fr-view')
const url = window.location.href.split('/')
const id = url[url.length - 1]
const editLink = document.querySelector('.edit-link')
fetch('http://localhost:8080/api/blogs/'+id)
.then(res => res.json())
.then(json => {
    viewer.insertAdjacentHTML('afterbegin', json.body)
    if (!json.published) {
      editLink.href = `/blogs/${id}/edit`
      editLink.textContent = 'Edit'
    }
})
.catch(err => console.error(err))
</script>

  </body>
</html>
