{{define "login-header"}}
<a href="/signup">Signup</a>
<a href="/login">Login</a>
{{end}}

{{define "user-header"}}
<a href="/blogs">Blogs</a>
<a href="/blog/new">New Post</a>
<a href="/logout">Logout</a>
{{end}}
