{{define "login-header"}}
<div>
  <a href="/signup">Signup</a>
  <a href="/login">Login</a>
</div>
{{end}}

{{define "user-header"}}
<div>
  <a href="/blogs">Blogs</a>
  <a href="/drafts">Drafts</a>
  <a href="/blog/new">New Post</a>
  <a href="/logout">Logout</a>
</div>
{{end}}
