<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
        <link rel="stylesheet" href="/public/css/main.css">
  </head>
  <body>
    {{template "user-header"}}
    {{range .}}
    <h1><a href="/blogs/{{.Id}}">{{.Title}}</a></h1>
    {{end}}
  </body>
</html>
